---
// src/components/SocialLinks.astro
import { Icon } from "astro-icon/components";
import { socialMediaLinks } from "@/SiteData.js";

interface Props {
  links?: typeof socialMediaLinks;
  containerClass?: string;
  linkClass?: string;
  iconClass?: string;
  iconSize?: string | number;
}

const {
  links = socialMediaLinks,
  containerClass = "flex items-center space-x-4",
  linkClass = "hover:opacity-80 transition-opacity",
  iconClass = "text-light-primary",
  iconSize = "24",
} = Astro.props;
---

<ul class={containerClass}>
  {
    links.map(({ name, href, icon }) => (
      <li>
        <a
          href={href}
          class={linkClass}
          aria-label={name}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name={icon} size={iconSize} class={iconClass} />
        </a>
      </li>
    ))
  }
</ul>
